body{
    /* Background pattern from Subtle Patterns */
    background-image: url("../images/intersection.png");
}
.container{
    width: 1024px;
    margin: 0 auto;
}
header{
    background-color: black;
    color: white;
    font-size: 20px;
    padding:15px;
    line-height: 45px;
}
.color{
    color:#DC956B;
    font-weight: bold;
}
.logo{
    float:left;
    text-transform: uppercase;
}
.navigation{
    float:right;
}
.navigation  ol{
    list-style-type: none;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.navigation ol > li{
    float:left;
    text-transform: uppercase;
    padding-right: 40px;
}
.navigation ol > li:last-of-type{
    padding-right: 0px;
}
.navigation > ol a{
    text-decoration: none;
    color: white;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
.navigation > ol ul{
    /*display: none;*/
    background-color: black;
    position:absolute;
    text-transform: capitalize;
    letter-spacing: 2px;
    list-style-type: none;

}
ol ul > li{
    padding-left: 0;

}
.navigation > ol ul:hover{
    display: block;
}